# Data — too heavy
data/

# Trained mdels — heavy, upload only last one
models/*.pt
models/*.png

# Python
__pycache__/
*.pyc
*.pyo
.env

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db